@using GigTracker.Entities;
@using Microsoft.AspNetCore.Http
@using GigTracker.Views.Home
@model HomeIndexViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";

    var urlTemplate = Url.Action() + "?page={0}";  // used to create the link to get prev/next page
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys) {
        if (key == "page") {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.Gigs.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.Gigs.CurrentPage + 5, Model.Gigs.PageCount);
}

<!DOCTYPE html>

<html>
<body>
    <input asp-for="userId" />
    <input asp-for="userRole" />

    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-default menu-button">Login</a>
                </li>
                @if (Model.userRole == "Admin" || Model.userRole == "User") {
                    <li class="nav-item">
                        <a asp-controller="Gig" asp-action="List" class="btn btn-default menu-button">Gigs</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Profile" asp-route-id=@Model.userId class="btn btn-default menu-button">Profile</a>
                    </li>
                }
                @if (Model.userRole == "Admin") {
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="List" class="btn btn-default menu-button">Users</a>
                    </li>
                }
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <input asp-for="ArtistSearch" name="searchArtist" id="searchArtist" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-8 col-sm-8 items-info">
            Items @Model.Gigs.FirstRowOnPage to @Model.Gigs.LastRowOnPage of @Model.Gigs.RowCount total
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <nav aria-label="Page navigation">
                @if (Model.Gigs.PageCount > 1) {   // if there's more than one page
                    <ul class="pagination pull-right">
                        <li class="page-item">
                            <a class="page-link" href="@urlTemplate.Replace("{0}", "1")">&laquo;</a>
                        </li>
                        @for (var index = startIndex; index <= finishIndex; index++) {
                            @if (index == Model.Gigs.CurrentPage) {

                                <li class="page-item"><span class="page-link">@index</span></li>
                            }
                            else {

                                <li class="page-item">
                                    <a class="page-link" href="@urlTemplate.Replace("{0}", index.ToString())">@index</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" href="@urlTemplate.Replace("{0}", Model.Gigs.PageCount.ToString())">&raquo;</a>
                        </li>
                    </ul>}
            </nav>
        </div>
    </div>
    <partial name="_GigList" for="Gigs" />
</body>
</html>

<script>
    $(document).ready(function () {

    });

    $('#searchArtist').on('keypress', function (e) {
        if (e.which === 13) {

            //Disable textbox to prevent multiple submit
            $(this).attr("disabled", "disabled");

            //Do Stuff, submit, etc..
            var artistquery = $(this).val();

            $.get("", { artistQuery: artistquery, page: 1 }, function (result) {
                $("body").html(result);
            });

            //Enable the textbox again if needed.
            $(this).removeAttr("disabled");
        }
    });
</script>
