@model HomeIndexViewModel
@using Microsoft.AspNetCore.Authentication
@using GigTracker.Entities;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <input asp-for="userId" />
    <input asp-for="userRole" />

    <nav class="navbar">
        @*<a class="navbar-brand">Navbar Search Box Auto Expand </a>*@
        <form class="form-inline">
            <a asp-controller="Account" asp-action="Login" class="btn btn-default menu-button">Login</a>
            <a asp-controller="Gig" asp-action="List" class="btn btn-default menu-button">Gigs</a>
            @if (Model.userRole == "Admin" || Model.userRole == "User") {
                <a asp-controller="User" asp-action="Profile" asp-route-id=@Model.userId class="btn btn-default menu-button">Profile</a>
            }
            @if (Model.userRole == "Admin") {
                <a asp-controller="User" asp-action="List" class="btn btn-default menu-button">Users</a>
            }


            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </nav>
    <p>



        @*<p>
                User Id:@HttpContextAccessor.HttpContext.Session.GetString("UserId")
            </p>*@
        @*</div>*@


        @foreach (Gig gig in Model.Gigs) {
            <div>

                <a asp-controller="Gig" asp-action="Details" asp-route-id="@gig.Id">Details</a>
                @gig.ArtistName
                @gig.Date
                @gig.VenueName
            </div>
        }

</body>
</html>

<script>
    $(document).ready(function () {

        @*$("#users").click(function () {
            //$("form").attr("action", "/User/List");
            var i = 0;
            i++;
        });

        $("#gigs").click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("List", "Gig")",
                //data: {number1: val1, number2: val2},
                //dataType: "json",
                //success: function (data) {
                //    //console.log(msg);
                //    window.location.href = data.redirecturl;
                //},
                //error: function (req, status, error) {
                //    alert(error);
                //}
            });
        });*@

    });
</script>
