@model GigDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gig Details</h1>

<div class="col-sm-10">
    <strong><label asp-for="Gig.ArtistName"></label></strong>
    <text>@Model.Gig.ArtistName</text>
</div>

<div class="col-sm-10">
    <strong><label asp-for="Gig.VenueName"></label></strong>
    <text>@Model.Gig.VenueName</text>
</div>

<div class="col-sm-10">
    <strong><label asp-for="Gig.VenueAddress"></label></strong>
    <text>@Model.Gig.VenueAddress</text>
</div>

<div class="col-sm-10">
    <strong><label asp-for="Gig.VenuePhone"></label></strong>
    <text>@Model.Gig.VenuePhone</text>
</div>

<div class="col-sm-10">
    <strong><label asp-for="Gig.Date"></label></strong>
    <text>@Model.Gig.Date</text>
</div>

<button asp-route="Home/Index">OK</button>


